<?php
// {{ ansible_managed }}
$settings['db_host'] = '{{ app_chevereto.settings.database.host }}';
$settings['db_name'] = '{{ app_chevereto.settings.database.name }}';
$settings['db_user'] = '{{ app_chevereto.settings.database.user }}';
$settings['db_pass'] = '{{ app_chevereto.settings.database.pass }}';
$settings['db_table_prefix'] = '{{ app_chevereto.settings.database.prefix }}';
$settings['db_driver'] = 'mysql';
$settings['db_pdo_attrs'] = [];
$settings['debug_level'] = 1;
